/* font-face */
@font-face {
    font-family: NanumGothic;
    font-style: normal;
    font-weight: normal;
    src: url(//i1.daumcdn.net/img-contents/webfont/NanumGothic-Regular.eot?iefix);
    src: local(NanumGothic),
      url(//i1.daumcdn.net/img-contents/webfont/NanumGothic-Regular.woff) format('woff');
  }
  
  /* reset */
  body,
  div,
  dl,
  dt,
  dd,
  ul,
  ol,
  li,
  h1,
  h2,
  h3,
  h5,
  h6,
  pre,
  code,
  form,
  fieldset,
  legend,
  textarea,
  p,
  blockquote,
  th,
  td,
  input,
  select,
  button {
    margin: 0;
    padding: 0
  }
  
  fieldset,
  img {
    border: 0 none
   
  }
  
  dl,
  ul,
  ol,
  menu,
  li {
    list-style: none
  }
  
  blockquote,
  q {
    quotes: none
  }
  
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none
  }
  
  input,
  select,
  textarea,
  button {
    vertical-align: middle
  }
  
  input::-ms-clear {
    display: none
  }
  
  button {
    border: 0 none;
    background-color: transparent;
   
  }
  
  body {
    background: white
  }
  
  body,
  th,
  td,
  input,
  select,
  textarea,
  button {
    font-size: 12px;
    line-height: 1.5;
    font-family: NanumGothic, '나눔고딕', 'Malgun Gothic', '맑은 고딕', Helvetica, 'Apple SD Gothic Neo', AppleGothic, Dotum, '돋움', Arial, sans-serif;
    color: #333
  }
  
  a {
    color: skyblue;
    text-decoration: none
  }
  
  a:active {
    background-color: transparent
  }
  
  address,
  caption,
  cite,
  code,
  dfn,
  em,
  var {
    font-style: normal;
    font-weight: normal
  }
  
  /* global */
  .ir_pm {
    display: block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px
  }
  
  .screen_out {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px
  }
  
  .hide {
    display: none
  }
  
  .img_thumb {
    vertical-align: top
  }
  
  /* img */
  
  .img_comm {
  
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    /* background: url(https://t1.kakaocdn.net/gamepub/img-contents/event/promotion/181015_rf/img_comm.png) 0 0 no-repeat; */
    text-indent: -9999px
  }
  
  /*uploadBtn*/
  .btn_upload {
    width: 110px;
    height: 50px;
    margin-top: 50px;
    margin-left: 47%;
    background-color: skyblue;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s;
    color: white;
    text-align: center;
    line-height: 50px;
    
    border-radius: 5px;
  }
  .btn_upload:hover {
    background-color: lightblue; 
  }
  
  .upload_btn{
    height: 327px;
  }
  /* 클릭 */
  .btn_upload:active {
    
   
  background-color: black; 
  }
  
  /* button */
  
  .btn_today:hover,
  .btn_today:focus {
    background-position: -70px -70px
  }
  
  .btn_home {
    width: 70px;
    height: 69px;
    background-position: 0 0
  }
  
  .btn_home:hover,
  .btn_home:focus {
    background-position: 0 -70px
  }
  
  .btn_scroll {
    position: relative;
    left: 50%;
    bottom: 60px;
    width: 60px;
    margin-left: -30px;
    font-size: 16px;
    line-height: 20px
  }
  
  /* list */
  .list_nav {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
  
  }
  
  .list_nav li {
    float: left;
    width: 140px
  }
  
  .list_nav li+li {
    border-left: 1px solid #efefef
  }
  
  .list_nav .link_nav {
    display: block;
    overflow: hidden;
    height: 86px;
    font-size: 20px;
    font-weight: bold;
    line-height: 86px;
    color: black;
    text-align: center
  }
  
  .list_nav .link_nav:hover,
  .list_nav .on .link_nav {
    background-color: rgb(239, 239, 239)
  }
  
  .list_util {
    position: absolute;
    top: 10px;
    right: 8px;
    overflow: hidden
  }
  
  .list_util2 {
    position: absolute;
    top: 10px;
    left: 8px;
    overflow: hidden
  }
  
  .list_util li {
    float: left
  }
  
  .list_util li+li {
    border-left: 1px solid #1e1e1c
  }
  
  .list_notice {
    margin-left: 15px;
    font-size: 17px;
    line-height: 32px;
    color: #ccd2e9;
    letter-spacing: -0.068em;
    text-align: left
  }
  
  .list_notice li:before {
    display: inline-block;
    width: 15px;
    margin-left: -15px;
    font-weight: bold;
    vertical-align: top;
    content: "·"
  }
  
  /* box */
  .box_g {
    width: 988px;
    margin: 0 auto
  }
  
  /* layout */
  .prm_promo {
    min-width: 1280px
  }
  
  .head_promo {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #cecece;
    text-align: center;
    
  
  }
  
  .head_promo .tit_logo {
    position: absolute;
    top: 24px;
    left: 40px;
    z-index: 10;
  }
  
  .head_promo .link_logo {
    display: block
  }
  
  /* contents */
  [class*="section_"] {
    position: relative;
    height:1000px;
    font-size: 100px;
    border-top: 1px solid #cecece;
    line-height: 100%;
    text-align: center;
    color: black;
    box-sizing: border-box;
  
  }
  /*cam*/
  body{
    height: 100%;
    margin: 0;
    overflow: auto;
  }
  
  .centered-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  #cameraview {
    width: 720px;
    height: 480px;
    margin-bottom: 10px; /* 웹캠과 토글 버튼 사이에 간격 추가 */
  }
  
  .toggleBG {
    background: #CCCCCC;
    width: 70px;
    height: 30px;
    border: 1px solid #CCCCCC;
    border-radius: 15px;
   
  }
  
  .toggleFG {
    background: skyblue;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 15px;
    position: relative;
    margin-bottom: 100px;
    margin-right: 40px
  }
  
  [class*="section_"]+[class*="section_"] {
    border-top: 1px solid #cecece
  }
  
  .sele .section_type1 {
    height: 500px
  }
  
  .section_type2 {
    height: 600px
  }
  
  .section_type3 {
    height: 900px
  }
  
  
  
  
  /* animation */
  @-webkit-keyframes btnScroll {
    0% {
      -webkit-transform: translateY(0)
    }
  
    50% {
      -webkit-transform: translateY(15px)
    }
  
    100% {
      -webkit-transform: translateY(0)
    }
  }
  
  @-moz-keyframes btnScroll {
    0% {
      -moz-transform: translateY(0)
    }
  
    50% {
      -moz-transform: translateY(15px)
    }
  
    100% {
      -moz-transform: translateY(0)
    }
  }
  
  @keyframes btnScroll {
    0% {
      -ms-transform: translateY(0);
      transform: translateY(0)
    }
  
    50% {
      -ms-transform: translateY(15px);
      transform: translateY(15px)
    }
  
    100% {
      -ms-transform: translateY(0);
      transform: translateY(0)
    }
  
  }
  
  .section_type2.page_scroll {
    display: flex;
    justify-content: baseline;
  }
  .chartt{
    margin-top: 100px;
    margin-left: 10px;
  }
    
  
  
  .image-upload {
    flex-basis: 35%;
    position: relative;
    height: max-content;
    z-index: 1;
  
    text-align: center;
    margin-top: 100px;
  
    /* border style을 dashed red로 변경 */
    border: 2px dashed red;
  
   
     /* 그 외의 스타일은 유지 */
     border-radius: 5px;
     overflow: hidden;
     margin-left:150px;
     margin-right :150px;   
  }
  .custom-file-upload {
    padding:30px;
    display:block;
    padding :15px;
    
    font-size :16px ;
    background-color :transparent ; 
   /* 배경을 투명으로 설정하여 텍스트를 보이지 않게 함*/
    position:relative ; 
   /* 상대적인 위치 설정*/
  
  }
  .image-upload.uploaded {
    border: 4px dashed green; /* 이미지가 업로드되면 테두리 색상을 초록으로 변경 */
    
  }
  
  #preview-1{
    width: 400px;
    height: 400px;
    margin: 0;
  }
  #preview-2{
    width: 400px;
    height: 400px;
  }
  
  
  
  .custom-file-upload:hover {
    background-color: rgba(0, 0, 0, 0.3);
    /* 호버 상태*/
  }
  .custom-file-upload:hover::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(/img/플러스.png);
    background-size: cover; 
    width: 50px; 
    height: 50px;
  }
  
  ul.list_util a.img_comm img {
    margin-right: 5px;
    width: 45px;
    height: 45px;
    margin-top: 10px;
  }
  
  ul.list_util2 a.imgLogo img {
    margin-right: 5px;
    width: 107px;
    height: 93px;
    margin-top: -7px;
  }
  
  /* 다크모드*/
  body.dark-mode {
    background-color: #333;
    color: #fff;
  }
  
  
  body.dark-mode #kakaoHead {
    background-color: #333 !important; /* 또는 원하는 배경색 */
    color: #fff !important; /* 또는 원하는 글자색 */
  }
  
  #darkModeToggle {
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    background-color: #333;
    border-radius: 20px;
  
    position: relative;
    left: 800px;
    top: 20px;
  }
  
  
  #darkModeToggle:hover {
    background-color: #666;
  }
  
  body.dark-mode #darkModeToggle {
    color: black;
    background-color: lightgray;
  }
  
  #content {
    
    width: 200px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 1px 1px darkgray;
    display: none;
    text-align: center;
    border-radius: 3px;
  
    position: absolute;
    right: 5px;
  }
  
  .buttons {
    display: block;
    background-color: #fff;
    padding: 12px;
    
    margin: 6px;
    border-radius: 5px;
    text-decoration: none;
    
    
    
  }
  .buttons:hover{
    background-color: gray;
  
  }
  .buttons a{
    color: black;
    font-weight: bold;
  }
  
  .chart-container {
    display: inline-block;
    width: 35%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 10px 0;
    margin-bottom: 100px;
    }
  
  .right-chart {
    float: right;
  }
  
  
  
  #doughnut-chart {
    margin-top: 120px;
  }
  
  
  .section_type4 {
    max-width: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .slide-image {
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    animation: slide 24s infinite ease-out; /* 'linear'를 'ease-out'으로 변경 */
  }
  
  @keyframes slide {
    0% { transform: translateX(100%); }
    33% { transform: translateX(100%); }
    66% { transform: translateX(-100%); }
    100% { transform: translateX(-100%); }
  }
  
  
  
  
      /* 기존 CSS 코드 ... */
  
      .shadowed-text {
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);  /* 텍스트 그림자 설정 */
        color: white(0, 117, 194);  /* 텍스트 색상 */
        position: relative;
        top: 10px;
      }
  
   footer{
      background-color: #3C3C3C;
      padding: 20px;
      position : relative;
      bottom : -136px;
      margin-top: 500px;
      
    }
    
    .footer-content {
      position : relative;
      text-align: center;
      height: 250px;
    }
    
    .footer-content p {
      color: #8d8d8d;
      font-size: 20px;
    }
    
   .footlogo {
    width: 215px;
   position : relative;
   float: left;
   right : 20px;
   left : 0px;
   bottom : 150px;
      
   }
   
   .smhrd{
   position : relative;
   float: right;
   right : 0px;
   left : 20px;
   bottom : 100px;
   
   }
  
  
  body.dark-mode .list_nav li a {
    color: #fff; /* 다크 모드에서 메뉴 텍스트 색상을 흰색으로 변경 */
  }
  
  body.dark-mode .list_nav li.on a {
    background: #fff; /* 선택된 메뉴 항목의 배경을 흰색으로 변경 */
    color: #000; /* 선택된 메뉴 항목의 텍스트를 검정색으로 변경 */
  }
  
  
  body {
    font-family: Arial, sans-serif;
    
  }
  .banner {
    background-color: black;
    padding: 20px;
    text-align: center;
    font-size: small  ;
    
  }
  .shadowed-text {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
    text-decoration-color: white;
  }
  
  h1 {
    margin-bottom: 50px;
    color: white;
  }
  
  h3 { 
    margin-bottom: 50px;
    color: white;
  }
  
  
  /* 해시태그 스타일링 */
  .hashtag {
     display:inline-block; 
     margin:10px; 
     padding:10px; 
     border-radius:25px; 
     background-color:white; /* 사각타원 배경을 검정색으로 변경 */
     font-size: 20px;
  }
  
  /* 해시태그 내의 # 부분 */
  .hash-symbol {color:white; background-color:black; border-radius:50%; padding:5px} /* # 색을 흰색으로 변경하고 원형 배경을 하늘색으로 변경 */
  
    /* 해시태그 내의 한글 부분 */
    .hash-contents {color:black} 
  #aa {
    font-size: 42.9px;
  }
  #a3 {
    position: relative;
    top: 79px;
  }
  
  #a4 {
    position: relative;
    top: 40px;
  }
  
  .custom-exercise {
    display:inline-block;
    padding:10px;
    color:white;
    background-color:#356adf;/* 파랑색 배경 설정*/
  }
  .custom-exercise2 {
  display:inline-block;
    padding:10px;
    color:black;
    background-color:#b3dd1b;/* 파랑색 배경 설정*/
   margin:10px; 
   padding:10px; 
   border-radius:25px; 
  }
  
  
  /* 그라데이션 */
  .transparent {
    transition: background-color 0.5s ease-in-out; /* 배경색 변경 애니메이션 */
    background-color: transparent !important; /* 배경색을 투명하게 변경 */
  }
  
      .alarm img{
    width: 45px;
    position: relative;
    left : 450px;
    top : 12px;
  
    
  }
  
  
.uploadResult{
  height: 500px;
  display: block;
}
.upload1{
  
  height: 500px;
  border: 1px solid black;
  width: 500px;
  float: left;
  margin-left: 300px;
  display: block;
}
.upload2{
  height: 500px;
  border: 1px solid black;
  width: 500px;
  float: right;
  margin-right: 300px;
  display: block;
}

.resultcontent{
  height: 200px;
  border: 1px solid red;
  margin-top: 510px;
  
}
.scroll {
  padding-top: 70px;
  position: relative; /* 추가: span을 .scroll 요소 내에서 위치시키기 위함 */
  height: 100vh; /* 추가: .scroll 요소가 화면 높이만큼 차지하게 함 */
}
.scroll span {
  
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 3px solid #000000;
  border-bottom: 3px solid #000000;
  -webkit-transform: rotate(-45deg) translate(-50%, -50%); /* 수정: 가운데 정렬을 위한 translate 추가 */
  transform: rotate(-45deg) translate(-50%, -50%); /* 수정: 가운데 정렬을 위한 translate 추가 */
  -webkit-animation: sdb 1.5s infinite;
  animation: sdb 1.5s infinite;
  box-sizing: border-box;
}